[Unit]
Description=Get remote states

[Service]
Type=simple
User=root
WorkingDirectory=/home/pi/software/meteo
ExecStart=/home/pi/software/meteo/get_states.py
Restart=on-failure

[Install]
RequiredBy=pool_control.service
WantedBy=multi-user.target
